@import '../../assets/sass/vars'

.BottomNavContainer
  background-color: var(--nav-color) !important

  .MuiBottomNavigationAction-selected-111
    color: var(--accent-color)
    svg
      fill: var(--accent-color)

      
  .BottomNavigationAction
    color: var(--text-color) !important
