@import '../../assets/sass/vars'

.BottomNavContainer
  background-color: var(--nav-color) !important

  .BottomNavigationAction
    color: var(--text-color) !important

  .BottomNavigationAction-selected
    color: var(--accent-color)
    svg
      fill: var(--accent-color)
