@import '../../assets/sass/vars'

.BottomNavContainer
  background-color: var(--nav-color) !important

  .BottomNavigationAction
    color: var(--text-color) !important
    svg
      width: 26px
      height: 26px
      fill: var(--text-color)
      #Search
        fill: var(--primary-color)

  .BottomNavigationAction-selected
    color: var(--accent-color)
    svg
      width: 25px
      height: 25px
      fill: var(--accent-color)
      #Search
        fill: var(--primary-color)
