@import '../../sass/vars'

.Nav
  grid-row-start: 3
  display: flex
  justify-content: space-between

  font-size: 13px
  padding: 5px
  border-top: solid 0.5px

  a
    display: flex
    align-items: center
    flex-direction: column
    color: $text-color
    text-decoration: none
    &:visited
      color: $text-color
    &:hover
      color: $accent-color
      svg
       fill: $accent-color

  svg
    height: 40px
    width: 40px
    margin: 10px
    fill: $text-color

// Desktop
@media (min-width: $media-min-width)
  .Nav
    grid-row-start: 2
    grid-column: 1

    flex-direction: column

    padding: 70px 20px

    border-top: 0px

    a
      display: flex
      justify-content: flex-start
      align-items: center
      flex-direction: row
