@import '../../sass/vars'
.Timetable
  flex-grow: 1
  grid-column-start: 2
  grid-column-end: 4
  display: grid
  grid-template-columns: 50px auto

  .SlotTime
    grid-column-start: 1
    border-right: solid 1px
    border-color: $secondary-color
    padding: 5px
    display: flex
    justify-content: space-between
    flex-direction: column

  .Event
    grid-column-start: 2
    padding: 5px

    width: 90%
    height: 90%

    margin-left: 5%

    border: solid 1px
    border-color: $secondary-color
