@import '../../sass/vars'
.Timetable
  grid-column-start: 2
  display: grid
  grid-template-columns: 50px auto

  .Hour
    grid-column-start: 1
    border-right: solid 1px
    border-color: $secondary-color

  .Lesson
    grid-column-start: 2

    width: 90%
    height: 90%

    margin-left: 5%

    border: solid 1px
    border-color: $secondary-color

  .Lesson1
    grid-row-start: 2
    grid-row-end: 4

  .Lesson2
    grid-row-start: 6
    grid-row-end: 8

  .Lesson3
    grid-row-start: 10
    grid-row-end: 12
