.EventBucketFlex
  display: flex
  margin-right: 5px
  grid-column: 2 / 9

.EventBucketGrid
  width: 100%
  display: grid


.LessonDayEvent
  z-index: 1
  display: flex
  flex-direction: row
  width: auto
  max-height: 100%
  margin: 2px
  overflow: hidden
  font-size: 0.8rem
  border: solid 1px
  border-color: var(--primary-text-color)

  &:hover
    cursor: pointer

  .EventInfo
    width: 80%
    padding: 5px
    padding-right: 0px
    grid-column-start: 1

  .EventRoom
    width: 20%
    padding: 5px
    padding-left: 0px
    font-weight: bold
    text-align: end
    grid-column-start: 2
