.EventFlexBox
  display: flex
  margin-right: 10px
  grid-column: 2 / 9

.LessonDayEvent
  z-index: 1
  display: grid
  grid-template-columns: 1fr 1fr
  grid-template-rows: 1fr
  width: 100%
  height: inherit
  padding: 5px
  padding-right: 15px
  padding-left: 15px
  margin: 2px
  overflow: hidden
  align-items: center
  font-size: 0.8rem
  border: solid 1px
  border-color: var(--secondary-color)

  &:hover
    cursor: pointer

  .EventInfo
    grid-column-start: 1

  .EventRoom
    font-weight: bold
    text-align: end
    grid-column-start: 2
