.EventFlexBox
  display: flex
  margin-right: 10px
  grid-column: 2 / 9

.LessonDayEvent
  display: grid
  align-content: start
  grid-template-columns: 4fr 1fr
  width: 100%
  padding: 5px
  margin: 2px
  overflow: hidden
  align-items: center
  font-size: 0.8rem
  border: solid 1px
  border-color: var(--secondary-color)

  .EventInfo
    grid-column-start: 1

  .EventRoom
    width: 100%
    text-align: end
    grid-column-start: 2
