.Carbon {
  display: inline-block;
  background-color: rgb(30, 30, 30);
  min-width: 40vw;
  max-width: 65vw;
  padding: 18px 18px 18px 12px;
  border-radius: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.Carbon svg {
  margin-bottom: 5px;
}

.Carbon code span {
  font-family: 'Roboto Mono', monospace;
}

.split {
  display: flex;
  flex-direction: row;
}

.split img {
  padding-left: 20px;
}

/* .output pre code {
  color: white;
} */
