@import '../../assets/sass/vars'

.ScheduleContainer
  flex-grow: 1
  height: auto
  width: auto
  max-width: 100%
  display: grid
  grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 1fr 1fr 0.25fr
  padding-bottom: 10px

  #Gripper
    grid-column: 1 / 9
    grid-row-start: 2
    cursor: pointer
    background: var(--secondary-color)
    border-radius: 5px
    height: 5px
    width: 40px
    margin-left: auto
    margin-right: auto

  .SlotTime
    font-size: 0.8rem
    grid-column-start: 1
    border-color: var(--secondary-color)
    margin: 2px
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column

  .true
    border-right: solid 2px
    border-color: var(--accent-color)
    @import '../../assets/sass/vars'
