@import '../../assets/sass/vars'

.ScheduleContainer
  height: 100%
  display: grid
  grid-template-rows: 48px auto

  .NavigationContainer
    display: grid
    grid-template-columns: 48px 1fr 1fr 1fr 1fr 1fr 1fr 48px

  .TimetableContainer
    display: grid
    grid-template-columns: 48px 1fr 1fr 1fr 1fr 1fr 1fr 48px
    max-height: 100%
    overflow: auto

  #Gripper
    grid-column: 1 / 9
    grid-row-start: 2
    cursor: pointer
    background: var(--secondary-color)
    border-radius: 5px
    height: 5px
    width: 40px
    margin-left: auto
    margin-right: auto

  .SlotTime
    font-size: 0.8rem
    grid-column-start: 1
    border-color: var(--secondary-color)
    margin: 2px
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column

  .true
    border-right: solid 2px
    border-color: var(--accent-color)
