@import '../../assets/sass/vars'

.RoomSearchContainer
  padding: 20px
  display: flex
  flex-direction: column
  justify-content: center

  .selectContainer
    display: flex
    justify-content: center
    .Select
      width: 20vw !important

  svg
    max-height: 60vh

    stroke: var(--primary-text-color)
    stroke-width: 2

    text 
      stroke: none
      font-weight: 300
      font-size: 60px
      color: var(--secondary-text-color)

     

  .Room
    fill: var(--background-color)

  .free
    fill: var(--accent-color)
    // Todo: add radial-gradient
    background-color: var(--accent-color)

.floorSelector
  display: flex
  height: 100px
  flex-direction: row
  justify-content: center
  div
    color: var(--secondary-text-color)
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center

    cursor: pointer
    width: 50px
    height: 50px


