@import '../../assets/sass/vars'

.RoomSearchContainer
  height: 100%
  padding: 20px
  display: flex
  flex-direction: column
  h1
    font-weight: bold

  .listContainer
    height: 60vh
    overflow: auto
