@import '../../assets/sass/vars'

.RoomSearchContainer
  flex-grow: 1
  padding: 20px
  display: flex
  flex-direction: column
  overflow: scroll
  h1
    font-weight: bold

  .listContainer
    height: 90%
    overflow: scroll
