@import 'reset'
// @import 'vars'
// //https://css-tricks.com/snippets/css/complete-guide-grid/

// body
//   background-color: $bg-color

.App
  font-family: Roboto
  font-display: swap
  height: 100vh
  display: grid
  grid-template-rows: 56px auto 56px


//   color: $primary-color
//   overflow: hidden

//   font-size: 14px


// // Desktop
// @media (min-width: $media-min-width)
//   .App
//     grid-template-columns: 200px 1fr 200px
//     grid-template-rows: 50px auto

// h1
//   font-weight: bold
//   font-size: 30px
//   font-size: 2em



// // TODO: make own compantent

// input
//   color: $text-color
//   font-size: 14px
//   width: 100%
//   display: block
//   border: none
//   padding: 10px 0
//   border-bottom: solid 1px $text-color
//   background: none
//   outline: none


//   &:focus
//     box-shadow: none
//     outline: none
//     border-color: $selection-color

//   &:invalid
//     outline: none


// button
//   border: none
//   background: #1abc9c
//   cursor: pointer
//   border-radius: 0px
//   padding: 6px
//   width: 200px

//   color: white
//   font-size: 14px
//   box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2)
//   &:hover
//     transform: translateY(-1px)
//     box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2)
