@import 'reset'
// //https://css-tricks.com/snippets/css/complete-guide-grid/

// CSS Vars
.darkTheme
  --primary-color: #0F0E0F
  --secondary-color: #8F8E94

  --nav-color: #0F0E0F

  --text-color: #EFEFF4
  --accent-color: #0076FF


.lightTheme
  --primary-color: white
  --secondary-color: #8F8E94

  --nav-color: #EFEFF4

  --text-color: #0F0E0F
  --accent-color: #0076FF

.App
  font-family: Roboto
  font-display: swap
  font-size: 14px
  color: var(--text-color)

  background-color: var(--primary-color)

  height: 100vh
  display: grid
  grid-template-rows: 64px auto 56px
