@import 'reset'

html
  height: 100%

body
  height: 100%
  font-family: Roboto
  position: fixed
  overflow: hidden

  --appbar-height: 56px
  --bottomnav-height: 56px

#app
  height: 100%

.darkTheme
  --primary-color-dark:   #000000
  --primary-color:        #212121
  --primary-color-light:  #303030
  --primary-color-text:   rgb(255,255,255)
  --accent-color:         #3F51B5
  --primary-text-color:   rgb(255,255,255)
  --secondary-text-color: rgba(255,255,255, 0.7)
  --hint-text-color:      rgba(255,255,255, 0.5)
  --divider-color:        rgba(255,255,255, 0.12)
  
  --background-color:   var(--primary-color)


.lightTheme
  --primary-color-dark:     #303F9F
  --primary-color:          #3F51B5
  --primary-color-light:    #C5CAE9
  --primary-color-text:     #FFFFFF
  --accent-color:           #536DFE
  --primary-text-color:     #212121
  --secondary-text-color:   #757575
  --hint-text-color:        rgba(33,33,33, 0.5)
  --divider-color:          #BDBDBD

  --background-color:       #FFFFFF