@import '../../assets/sass/vars'

.LoginContainer
  background-color: #EFEFF4

  grid-column-start: 2
  grid-row-start: 2

  margin-left: auto
  margin-right: auto

  height: 100vh
  width: 100%
  flex-grow: 1

  .Splash
    background-color: #0076FF
    width: 100%
    display: grid
    justify-items: center
    fill: #EFEFF4
    svg
      max-width: 80%


// Desktop
@media (min-width: $media-min-width)
  .LoginContainer
    width: 350px
    height: 500px
    margin-top: 10vh
