.LessonWeekEvent
  z-index: 1
  align-items: center
  overflow: hidden
  font-size: 0.6rem
  padding: 2px
  margin: 3px
  border: solid 1px
  border-color: var(--secondary-color)

  &:hover
    cursor: pointer
