// Todo: i dont like the fact that the styles don't have a parent class
.arrow
  display: flex
  align-items: center

.calendarContainer
  grid-column: 2/8
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr


  .name
    text-align: center
    font-weight: bold
    font-family: Roboto Light
    font-size: 14px

  .date
    font-family: Roboto Light
    font-size: 14px

  .today
    font-weight: bolder
    border-bottom: solid 5px var(--primary-color-text)

  .active
    border-bottom: solid 5px var(--accent-color)
